table,
th,
td {
    height: 30px;
    /* Ajustado para una mejor visibilidad de las celdas */
    border-style: ridge;
    background-color: rgb(213, 176, 248);
}

/* Estilos para las celdas del formulario */
td {
    width: 20px;

}

#botons {
    position: relative;
    left: 20%;
    top: 60%;
}

#cuerpo {
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px;
    /* Corregido el valor del margen */
}