{% load static %}
<!DOCTYPE html>
<html lang="es-ch">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>prueba.tabla</title>
</head>

<body id="cuerpo">
  <form method="POST" action="/base/"> 
    {% csrf_token %}
    <table>
      <tr id="h3">
        <td><h3>formulario_estudiante</h3></td>
      </tr>
      <tr>
        <td><label for="nombre">doc_nombre</label></td>
        <td><input type="text" placeholder="nombre completo" name="nombre"><br></td>
      </tr>
      
      <tr>
        <td><label for="nombre">doc id</label></td>
        <td><input type="text" placeholder="nombre completo" name="id_doc"><br></td>
      </tr>
      
      <tr>
        <td><label for="nombre">doc_nombre</label></td>
        <td><input type="text" placeholder="nombre completo" name="email"><br></td>
      </tr>
      
      <tr>
        <td><label for="nombre">doc_nombre</label></td>
        <td><input type="text" placeholder="nombre completo" name="jornada"><br></td>
      </tr>
      
        <td id="botons">
          <input type="submit" value="enviar">
          <input type="reset" value="reiniciar">
        </td>
      </tr>
    </table>
  </form>
</body>

</html>
